<script>
  // Props
  export let values = '[]'
  export let button = 'Agregar'
  export let legend = ''
  export let described = ''
  export let name
  export let list
  export let remove = true

  // Los valores por defecto
  let group = JSON.parse(values)
  let added_value = ''

  // Agrega el valor escrito en el campo de texto
  const addValue = (event) => {
    // Solo si presionamos <Enter>
    if (event.keyCode != undefined && event.keyCode != 13) return

    event.preventDefault()
    event.stopPropagation()

    if (added_value.length == 0) return
    if (group.includes(added_value)) return

    // Agrega el valor y dispara la creación de un checkbox
    group = [...group, added_value.trim()]

    // Vaciar el campo de texto al terminar
    added_value = ''
  }

  // Elimina el valor del listado y opcionalmente el checkbox mismo
  const removeValue = (event) => {
    // No hacer nada si se lo pedimos
    if ([false,'false'].includes(remove)) return

    // El valor siempre está chequeado, porque al eliminar uno el
    // siguiente obtiene el foco y se deschequea
    event.target.checked = "checked";
    group = group.filter(x => x !== event.target.value)
  }
</script>

<div class="input-tag">
  <!--
    Este es el <input/> donde se pueden escribir valores

    No tiene @name para no enviar un valor vacío.  Si queremos soportar
    envío sin JS, usamos <noscript>
  -->
  <input type="text"
         on:keypress={addValue}
         bind:value={added_value}
         aria-describedby={described}
         {list}
        />

  <input type="button" value={button} on:click={addValue} />

  <!-- Crea un checkbox por cada valor agregado -->
  <fieldset>
    <legend>{legend}</legend>
    {#each group as value}
      <label>
        <!--
          XXX: Podríamos usar group:bind para aprovechar la magia de Svelte
          pero nos dió resultados inesperados y además tenemos que hacer
          otras cosas con el array que genera.
        -->
        <input on:change={removeValue}
              type="checkbox"
              checked="checked"
              aria-describedby={described}
              {value} {name} />
        {value}
      </label>
    {/each}
  </fieldset>
</div>
